
@{
    ViewBag.Title = "Index";
}

<h2>Sum</h2>
<form method="post">
    <div>
        Number 1:
        <input type="number" value="@ViewBag.number1" />
        <hr />
        Number 2:
        <input type="number" value="@ViewBag.number2" />
        <hr />
        <input type="submit" value="Sum" />
        Result: <input type="number" value="@ViewBag.result" />
    </div>
</form>

